.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#create-employee {
  display: flex;
  flex-direction: column;
}
input {
  max-width: 200px;
  margin-bottom: 12px;
}
label {
  text-align: start;
  margin-bottom: 10px;
}
select {
  max-width: 250px;
  margin-bottom: 12px;
  height: 30px;
}
.address {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 12px;
}
