:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(125, 202, 235);
  background-color: rgb(34, 35, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
input {
  background-color: #fff;
  color: #000;
}
/* Style additionnel pour empêcher le footer de se superposer au contenu */
body {
  margin-bottom: 60px; /* Ajustez cette valeur selon la hauteur de votre footer */
}
/* Style de base pour le footer */
footer {
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  font-weight: 500;
  font-size: 16px;
  color: #646cff;
  text-decoration: underline;
}
a:hover {
  text-shadow: 0px 0px 15px rgba(125, 202, 235); /* Ajout de l'ombre au survol */

  color: rgb(125, 202, 235);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.title-txt {
  width: 200px;
  text-align: center;
  border-radius: 200px;
  font-size: 3.2em;
  line-height: 1.5;
  margin-bottom: 5px;
  background-color: rgb(125, 202, 235);
}
h2 {
  color: #c9d0f3e7;
}
.title {
  color: rgb(52, 53, 57);
}

.btModal {
  background-color: rgb(125, 202, 235);
  color: #000000;
  border-radius: 4px;
  border: 2px solid transparent;
  width: 100px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: box-shadow 0.25s, background-color 0.25s;
}

.btModal:hover {
  box-shadow: 0px 0px 15px rgba(125, 202, 235); /* Ajout de l'ombre au survol */
  background-color: #f0f0f0;
  border-color: rgb(125, 202, 235);
}

.btModal:focus,
.btModal:focus-visible {
  outline: none;
  border-color: #1b1b1c64;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(125, 202, 235);
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    position: static;
  }
}
